<div class="container">
  <div class="row">
    <div class="col">
      <h2>Editar proyecto</h2>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="card" *ngIf="project">
        <div class="card-body">

          <form [formGroup]="projectForm" (ngSubmit)="saveProject(projectForm.value)">
            <div class="form-group">
              <label for="name">Nombre: </label>
              <input type="text" class="form-control" id="name" formControlName="name" required
                     [ngClass]="{'is-valid':!name.invalid ,'is-invalid': name.invalid}">
              <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                <div *ngIf="name.errors.required">
                  Nombre de proyecto es obligatorio.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="description">Descripción: </label>
              <textarea type="text" rows="4" class="form-control" id="description" formControlName="description">
            </textarea>
            </div>
            <div class="form-group">
              <label for="url">URL: </label>
              <input type="text" class="form-control" id="url" formControlName="url">
            </div>
            <div class="form-group">
              <label for="category">Categoría:</label>
              <select class="form-control" id="category" formControlName="category">
                <option *ngFor="let category of categories | keyvalue"
                        [ngValue]="category.key">{{category.value}}</option>
              </select>
            </div>
            <!--              <hr>-->
            <div class="form-group">
              <h6>Tecnologías:</h6>
              <ol class="list-group ">
                <li class="list-group-item d-flex justify-content-between align-items-start"
                    *ngFor="let tech of  project.tech; index as i">
                  <div class="ms-2 me-auto">
                    {{tech.name}} <br>
                    <div class="form-text">{{tech.url}}</div>
                  </div>
                  <span class="badge bg-danger rounded-pill" (click)="removeTech(i)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                           class="bi bi-trash-fill" viewBox="0 0 16 16">
  <path
    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
</svg>
                    </span>
                </li>
              </ol>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end  pt-1">
              <button type="button" class="btn btn-info" (click)="setAuxTech()"
                      data-bs-toggle="modal" data-bs-target="#techModal">Nueva
              </button>
            </div>
            <div class="form-group">
              <h6>Logros:</h6>
              <ol class="list-group ">
                <li class="list-group-item d-flex justify-content-between align-items-start"
                    *ngFor="let achievement of project.achievements; index as i">
                  <div class="ms-2 me-auto">
                    {{achievement.name}}
                  </div>
                  <span class="badge bg-danger rounded-pill" (click)="removeAchievement(i)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                           class="bi bi-trash-fill" viewBox="0 0 16 16">
  <path
    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
</svg>
                    </span>
                </li>
              </ol>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end  pt-1">
                <button type="button" class="btn btn-info" (click)="setAchievement()"
                        data-bs-toggle="modal" data-bs-target="#achieveModal">Nueva
                </button>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <h6>Imagen:</h6>
                </div>
              </div>
              <div class="row align-items-center" *ngIf=" project.image &&  project.icon else noImage">
                <div class="col-md-6 col-xs-12 align-self-center">
                  <img *ngIf="project.image" src="{{project.image}}" alt="{{project.name}}" class="mainImage shadow">
                </div>
                <div class="col-md-6 col-xs-12 align-self-center">
                  <img *ngIf="project.icon" src="{{project.icon}}" alt="Icono {{project.name}}"
                       class="iconImage  shadow ml-2">
                </div>
              </div>
              <ng-template #noImage>
                <p class="text-center">No hay imagen configurada</p>
              </ng-template>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end  pt-1" *ngIf="logged">
              <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#imageModal"
                      (click)="setImageCategory('general')">Nueva
              </button>
            </div>
            <div class="form-group">
              <h6>Referencias:</h6>
              <div class="row align-items-center" *ngIf="project.references.length > 0 else noReferences">
                <div class="col-md-2 col-xs-12  align-self-center"
                     *ngFor="let reference of project.references; index as i">
                  <div class="fs-2">
                    <a href=" {{reference.url}}">
                      <i class="{{reference.icon}}"></i>
                    </a>
                  </div>
                  <span class="badge bg-danger rounded-pill" (click)="removeReference(i)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                           class="bi bi-trash-fill" viewBox="0 0 16 16">
  <path
    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
</svg>
                    </span>
                </div>
              </div>
              <ng-template #noReferences>
                <p class="text-center">No hay referencias configuradas</p>
              </ng-template>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end  pt-1">
                <button type="button" class="btn btn-info" (click)="setReference()"
                        data-bs-toggle="modal" data-bs-target="#referenceModal">Nueva
                </button>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <h6>Capturas:</h6>
                </div>
              </div>
              <div class="row align-items-center" *ngIf=" project.captures.length >0 else noCaptures">
                <div class="col-md-4 col-xs-12  align-self-center"
                     *ngFor="let capture of project.captures; index as i">
                  <img *ngIf="capture.image" src="{{capture.image}}" alt="{{capture.alt}}" class="img-fluid shadow">
                  <div class="d-flex justify-content-center">
                    <i>{{capture.title}}</i>
                  </div>
                  <div class="d-flex justify-content-center">
                  <span *ngIf="logged" class="badge bg-danger  rounded-pill" (click)="removeCapture(i)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                           class="bi bi-trash-fill" viewBox="0 0 16 16">
  <path
    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
</svg>
                    </span>
                  </div>
                </div>
              </div>
              <ng-template #noCaptures>
                <p class="text-center">No hay capturas configuradas</p>
              </ng-template>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end  pt-1" *ngIf="logged">
              <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#imageModal"
                      (click)="setImageCategory('captures')">Nueva
              </button>
            </div>
            <br>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn btn-danger">Cancelar</button>
              <button type="submit" class="btn btn-success" [disabled]="!projectForm.valid">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Tech Modal -->
<div class="modal fade" id="techModal" tabindex="-1" aria-labelledby="techModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="techModalLabel">Nueva Tecnología</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="auxTech">
        <div class="form-group">
          <label for="techName" class="form-label">Nombre de la tecnología:</label>
          <input [(ngModel)]="auxTech.name" type="text" class="form-control" id="techName">
        </div>
        <div class="form-group">
          <label for="techLink" class="form-label">Enlace de la tecnología:</label>
          <input [(ngModel)]="auxTech.url" type="text" class="form-control" id="techLink">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="addTech()"
                [disabled]="!auxTech || !(auxTech && auxTech.name && auxTech.url) "
                data-bs-dismiss="modal">Agregar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Achievement Modal -->
<div class="modal fade" id="achieveModal" tabindex="-1" aria-labelledby="achieveModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="achieveModalLabel">Nuevo Logro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="auxAchievement">
        <div class="form-group">
          <label for="achieveName" class="form-label">Logro:</label>
          <input [(ngModel)]="auxAchievement.name" type="text" class="form-control" id="achieveName">
        </div>
        <div class="form-group">
          <label for="achieveLink" class="form-label">Descripción del logro:</label>
          <input [(ngModel)]="auxAchievement.description" type="text" class="form-control" id="achieveLink">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="addAchievement()"
                [disabled]="!auxAchievement || !(auxAchievement && auxAchievement.name && auxAchievement.description) "
                data-bs-dismiss="modal">Agregar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Achievement Modal -->
<div class="modal fade" id="referenceModal" tabindex="-1" aria-labelledby="referenceModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="referenceModalLabel">Nueva Referencia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="auxReference">
        <div class="form-group">
          <label for="category">
            Icono: <i class="{{auxReference.icon}}"></i>
          </label>
          <select class="form-control" id="iconName" [(ngModel)]="auxReference.icon">
            <option *ngFor="let icon of icons | keyvalue" [value]="icon.value">
              {{icon.key | titlecase}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="referenceUrl" class="form-label">Referencia:</label>
          <input [(ngModel)]="auxReference.url" type="text" class="form-control" id="referenceUrl">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="addReference()"
                data-bs-dismiss="modal">Agregar
        </button>
        <!--        [disabled]="!auxReference || !(auxReference && auxReference.url && auxReference.icon) "-->
      </div>
    </div>
  </div>
</div>

<!--Image Modal-->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageModalLabel">Nueva Imagen</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="imageCategory === 'captures' && auxCapture">
          <div class="form-group">
            <label for="captureTitle">Titulo: </label>
            <input [(ngModel)]="auxCapture.title" type="text" class="form-control" id="captureTitle">
          </div>
          <div class="form-group">
            <label for="captureAlt">Alt: </label>
            <input [(ngModel)]="auxCapture.alt" type="text" class="form-control" id="captureAlt">
          </div>
          <br>
          <ng-container *ngIf="auxCapture.image">
            <div class="d-flex justify-content-center">
              <h6>Previsualización</h6>
            </div>
            <div class="d-flex justify-content-center">
              <img *ngIf="auxCapture.image" src="{{auxCapture.image}}" alt="{{auxCapture.alt}}"
                   class="mainImage shadow">
            </div>
          </ng-container>
        </ng-container>
        <div class="form-group">
          <label for="formFile" class="form-label">Nueva Imagen:</label>
          <input #imgInput [disabled]="upload" accept="image/*" class="form-control" type="file" id="formFile"
                 (change)="fileChange($event)">
        </div>
        <div class="progress" *ngIf="upload && uploadProgress !=0 ">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
               [style.width]="uploadProgress*100 + '%'" aria-valuemin="0" aria-valuemax="100">
            {{uploadProgress * 100 |number:'2.0-0'}}%
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <button *ngIf="imageCategory !== 'captures'" type="button" class="btn btn-primary" data-bs-dismiss="modal"
                [disabled]="upload"
                (click)="updateData()">Agregar
        </button>
        <button *ngIf="imageCategory === 'captures'" type="button" class="btn btn-primary" data-bs-dismiss="modal"
                [disabled]="upload || (imageCategory === 'captures' && !auxCapture.title)"
                (click)="addCapture()">Agregar
        </button>
      </div>
    </div>
  </div>
</div>
